header {
  color: #FF1B6D;
}

body {
  background-color: white;
  background-image: url(imgs/image.png);
  background-size: cover;
}

.bank-totals {
  min-height: 68px;
  max-width: 200px;
  text-align: center;
}


.bets {
  justify-content: space-between;
}

.bet-button {
  max-width: 200px;
}